.contact {
  .header-contact {
    height: 400px;
    background-image: url("../../../public/assets/images/header/contacto.jpeg");
  }
  .form-contact {
    background-image: url("../../../public/assets/images/contact.jpeg");
  }
}
