.header-valles {
  height: 400px;
  background-image: url("../../../../public/assets/images/header/valles.jpeg");
}

.hoteles-valles {
  height: 400px;
  background-image: url("../../../../public/assets/images/hotels/valles/hotel1.jpeg");
}
