.header-tour {
  height: 400px;
  background-image: url("../../../public/assets/images/header/tours.jpeg");
}

.card1 {
  width: 500px;
  height: 550px;
  background-image: url("../../../public/assets/images/homepage/xilitla.svg");
}
.card2 {
  width: 500px;
  height: 550px;
  background-image: url("../../../public/assets/images/homepage/ciudadvalles.jpeg");
  background-position-x: center;
}

@media only screen and (max-width: 768px) {
  .card1 {
    width: 300px;
  }
  .card2 {
    width: 300px;
  }
}
