.header-xilitla {
  height: 400px;
  background-image: url("../../../../public/assets/images/header/xilitla.jpeg");
}

.hoteles {
  height: 400px;
  background-image: url("../../../../public/assets/images/hotels/xilitla/hotel1.jpeg");
}
